<!DOCTYPE html>
<html>
  <head>
    <title>User Map</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body, #map-canvas {
        height: 96%;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
    <script>
var map;
function initialize() {
  map = new google.maps.Map(document.getElementById('map-canvas'), {
    zoom: 16,
    center: {lat: 22.996404, lng: 120.220579}
  });
}

google.maps.event.addDomListener(window, 'load', initialize);

  </script>
  </head>
  <body>
    <div id="map-canvas"></div>
<div id="form">
<form name="input" action="views.py" method="get">
Username: <input type="text" name="username">
<input type="submit" value="Submit">
</form>
<div>  
<div id="userdata">
<li>
 {% for key, value in user_dict.items %}
      {{ key }}: {{ value }}
  {% endfor %}
</li>
</div>
</body>
</html>



